// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-movies div {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.main-movie-container a {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.movie-container img {
  width: 200px;
  height: 275px;
}

div.movie-show-background {
  background-color: white;
}

div.movie-show-info {
  padding: 5px;
  color: black;
  opacity: 1.0;
}

.movie-show-info div {
  margin: 0 auto;
}

.movie-show-info img {
  width: 2.5rem;
}

button {
  padding: 3px;
}

.movie-show-info a.edit {
  color: black;
}

div.form-dividers {
  display: flex;
}

.form-dividers .thumbs {
  display: flex;
}

.icon {
  width: 25px;
}

.dim {
  opacity: 0.5;
}

.highlight {
  opacity: 1;
  background-color: #ccd9ff;
  border-radius: 10px;
}

.dim:hover, .highlight:hover {
  opacity: 1;
  transition: opacity 500ms linear;
}
